---
---

@import "{{ site.theme }}";

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    background: url('{{ 'mixer.jpg' | relative_url }}') no-repeat center center fixed;
    background-size: cover;
    border-bottom: solid 1px #275da1;
}

header h1 {
    color: #6a5acd;
}

header a.button,
aside a.button {
    background: #add8e6;
}

#main-content h1:before,
#main-content h2:before,
#main-content h3:before,
#main-content h4:before,
#main-content h5:before,
#main-content h6:before {
    content: "★ "; /* Unicode representation of a star */
    color: #6a5acd; /* Color of the star */
    margin-right: 5px; /* Adjust spacing between the star and text */
}

#main-content h3,
#main-content h4,
#main-content h6 {
    color: #6a5acd;
}

nav a::before {
    content: "🐾 ";
}

#breadcrumb {
    margin-bottom: 20px;
    font-size: 0.9em;
  }

#sidebar .button {
    padding: 5px 10px;
    font-size: 1.5em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
}

/* New CSS to remove bullet point from the specific element */
.title-without-bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}